.table {
    margin: 10px;
    width: 300px;
    height: 300px;
    gap: 10px;
    background-color: red;
}

.multi {
    display: grid;
    grid-template-rows: (1fr, 1fr);
    grid-template-columns: repeat(5, 1fr);
    font-size: 40px;
    font-weight: bold;

}